@charset "utf-8";

@import url(./bootstrap.min.css);
@import url(./jquery-confirm.min.css);

@import url(./font/noto-sans-kr-300/noto-sans-kr-300.css);
@import url(./font/noto-sans-kr-300/noto-sans-kr-300.css);
@import url(./font/material-icons/material-icons.css);

html,
body {
  height: 100%;
}

body {
  font-family: "Noto Sans KR", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", sans-serif;
  font-weight: 300;
  font-size: 0.75em;
}

a, button {
  cursor: pointer;
}
