<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/css/core.css">
    <link rel="stylesheet" href="/css/app.css">
    <link rel="stylesheet" href="/css/theme.blue.css">
    <link rel="stylesheet" href="/css/ddae.min.css">
    <script src="/js/jquery-3.6.0.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery-confirm.min.js"></script>
    <script src="/js/jquery.toast.min.js"></script>
    <script src="/js/jquery.support.js"></script>
    <script src="/js/nal.min.js"></script>
</head>
<body class="app">
